<div class="container-fluid">
    <div class="row" style="width: 100%;">
        <div class="col-sm-4">
            <div class="row card p-2">
               <div class="col">
                    <div class="combinelabel">
                        <label>Name</label>
                        <input type="text" [(ngModel)] = "persondata.name" [disabled] = "!persondetailsedit">
                    </div>
                    <div class = "combinelabel">
                        <label>Father/husbandname</label>
                        <input type="text" [(ngModel)] = "persondata.fatherorhusbandname" [disabled] = "!persondetailsedit">
                    </div>
                    <div class = "combinelabel">
                        <label>accno</label>
                        <input type="number" [(ngModel)] = "persondata.accno" [disabled] = "!persondetailsedit">
                    </div>
                    <div class = "combinelabel">
                        <label>phoneno</label>
                        <input type="text"  [(ngModel)] = "persondata.phoneno" [disabled] = "!persondetailsedit">
                    </div>
                    <div class = "combinelabel">
                        <label>village</label>
                        <input type="text"[(ngModel)] = "persondata.village" [disabled] = "!persondetailsedit">
                    </div>
                    <div class = "combinelabel">
                        <label>address1</label>
                        <input type="text" [(ngModel)] = "persondata.address1" [disabled] = "!persondetailsedit">
                    </div>
                    <div class = "combinelabel">
                        <label>address2</label>
                        <input type="text"  [(ngModel)] = "persondata.address2" [disabled] = "!persondetailsedit">
                    </div> 
                    <div class = "combinelabel">
                        <label>country</label>
                        <input type="text"[(ngModel)] = "persondata.country" [disabled] = "!persondetailsedit">
                    </div> 
                    <div class = "combinelabel">
                        <label>pincode</label>
                        <input type="text" [(ngModel)] = "persondata.pincode" [disabled] = "!persondetailsedit">
                    </div>
                    <div class = "combinelabel">
                        <div></div>
                        <button *ngIf="!persondetailsedit" type="button" class="btn btn-primary mt-2" style="width: 100px;" (click)="editpage()">Edit</button>
                        <button *ngIf="persondetailsedit" type="button" class="btn btn-secondary mt-2" style="width: 100px;" (click)="submitpage()">Submit</button>
                    </div>
               </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="standard">
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" [(ngModel)]="filter" placeholder="Ex. Mia" >
                      </mat-form-field>
                      <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort>
                          <!-- ID Column -->
                          <div *ngFor="let item of displayedColumns">
                            <ng-container [matColumnDef] = "item" >
                              <div *ngIf="!['property','subproperty'].includes(item)">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{item}} </th>
                                <td mat-cell *matCellDef="let row"> {{row[item]}} </td>
                              </div>
                              <div *ngIf="['property','subproperty'].includes(item)">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{item}} </th>
                                <td mat-cell *matCellDef="let row"> {{gettypeintable(row.settingsid,item)}} </td>
                              </div>
                            </ng-container>
                          </div>
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click) =" rowclicked(row)"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                      </div>
                </div>
            </div>
        </div>
        <div class="col" >
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" style="width: 250px;" (click) = "addnewfinance()">Add-new finance</button>
                </div>
            </div>
            <div class="row">
                <div class="col  m-2 mt-5 headerstyle">
                 {{titlforoperations}}
                </div>
            </div>
           <div *ngIf="showfinance">
                <app-stockssalesharedadd [pid]="pid" [spaceneed]= "'false'" (newItemEvent) ="populatepersondetail()" ></app-stockssalesharedadd>
           </div>
           <div *ngIf="editfinance">
               <div class="row">
                   <div class="col">
                        <label> Amount</label>
                        <input type="number" [(ngModel)]="rowdata.amount">
                   </div>
               </div>
               <div class="row">
                   <div class="col">
                        <label> QTY</label>
                        <input type="number" [(ngModel)]="rowdata.qty">
                   </div>
               </div>
               <div class="row">
                   <div class="col">
                       <button (click) = "submitdata()"> Submit </button>
                   </div>
               </div>
           </div>
        </div>
    </div>
</div>