<div class="container-fluid">
    <div class="row" style="width: 100%;">
        <div class="col-sm-4">
            <div *ngIf="!stilloading">
                <app-persondetailsedit [persondatainput] = "persondata" ></app-persondetailsedit>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="standard">
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" [(ngModel)]="filter" placeholder="Ex. Mia" >
                      </mat-form-field>
                      <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort>
                          <!-- ID Column -->
                          <div *ngFor="let item of displayedColumns">
                            <ng-container [matColumnDef] = "item" >
                              <div *ngIf="!['property','subproperty'].includes(item)">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{item}} </th>
                                <td mat-cell *matCellDef="let row"> {{row[item]}} </td>
                              </div>
                              <div *ngIf="['property','subproperty'].includes(item)">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{item}} </th>
                                <td mat-cell *matCellDef="let row"> {{gettypeintable(row.settingsid,item)}} </td>
                              </div>
                            </ng-container>
                          </div>
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click) =" rowclicked(row)"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                      </div>
                </div>
            </div>
        </div>
        <div class="col" >
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" style="width: 250px;" (click) = "addnewfinance()">Add-new Stocks/Sales</button>
                </div>
            </div>
            <div class="row">
                <div class="col  m-2 mt-5 headerstyle">
                 {{titlforoperations}}
                </div>
            </div>
           <div *ngIf="showfinance">
                <app-stockssalesharedadd [pid]="pid" [spaceneed]= "'false'" (newItemEvent) ="populatepersondetail()" [lentadd]= 'true'></app-stockssalesharedadd>
           </div>
           <div *ngIf="editfinance">
               <div class="row">
                   <div class="col">
                        <label> Amount</label>
                        <input type="number" [(ngModel)]="rowdata.amount">
                   </div>
               </div>
               <div class="row">
                   <div class="col">
                        <label> QTY</label>
                        <input type="number" [(ngModel)]="rowdata.qty">
                   </div>
               </div>
               <div class="row">
                   <div class="col">
                       <button (click) = "submitdata()"> Submit </button>
                   </div>
               </div>
           </div>
        </div>
    </div>
</div>