.customstyles{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.customlogin{
    width: 80px;
    border-radius: 28px;
    margin: 10px;
}
.company_name {
    font-size: 30px;
    color: white;
    font-family: "batmfa";
}
.namediv{
    display: flex;
    align-items: center;
    
}