<div class="container-fluid">
    <div class="row" style="width: 100%;">
        <div class="col-sm-4">
          <div class="row">
            <div class="col">
              <div *ngIf="!stilloading">
                <app-persondetailsedit [persondatainput] = "persondata" ></app-persondetailsedit>
            </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <br>
              <button class="btn btn-primary" style="justify-content: flex-end;" (click) = "newtoggle()"
              >Add new record</button>
              <div class="card" *ngIf="addnewtoggle">
                <div class="labeltext">
                  <label for="date">Date</label>
                  <input type="date"  id="date" [(ngModel)]="newrecord.date">
                </div>
                <div class="labeltext">
                  <label for="discription">Discription</label>
                  <textarea id="discription" cols="25" rows="3" [(ngModel)]="newrecord.discription"></textarea>
                </div>
                <div class="labeltext">
                  <label for="withdraw">withdraw</label>
                  <input type="number"  id="withdraw" [(ngModel)]="newrecord.withdraw">
                </div>
                <div class="labeltext">
                  <label for="deposit">deposit</label>
                  <input type="number"  id="deposit" [(ngModel)]="newrecord.deposit">
                </div>
                <div class="labeltext">
                 <div></div>
                 <button class="btn btn-primary" (click) ="submitdata()">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
       <div class="col">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="standard">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" [(ngModel)]="filter" placeholder="Ex. Mia" >
                  </mat-form-field>
                  <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort>
                      <!-- ID Column -->
                      <div *ngFor="let item of displayedColumns">
                        <ng-container [matColumnDef] = "item" >
                          <div *ngIf="item !== 'action'">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{item}} </th>
                            <td mat-cell *matCellDef="let row">
                                <input [type]="displaydata[item].type" [(ngModel)]="row[item]" [disabled] = "row.id !== editindex" > 
                            </td>
                          </div>
                          <div *ngIf="item === 'action'">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{item}} </th>
                            <td mat-cell *matCellDef="let row">
                                <button class="btn btn-primary" (click) ="editclicked(row.id,row)" *ngIf="row.id !== editindex">Edit</button>
                                <button class="btn btn-success"  (click) ="submitclicke(row)" *ngIf="row.id === editindex">Submit</button>
                            </td>

                          </div>
                        </ng-container>
                      </div>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                  </div>
            </div>
        </div>
       </div>
    </div>
</div>