<div class="card">
    <mat-dialog-content>
      <form>
       <div class="continer-fluid">
           <div class="row">
            <div class="col">
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="col">
                <label for="phno">Phoneno</label>
                <input type="text" name="phno" id="phno">
            </div>
           </div>
           <div class="row">
            <div class="col"> 
                <label for="property">Property</label>
                <select name="property" id="property">
                    <option *ngFor="let item of list" [value]="item">{{item}}</option>
                </select>
            </div>
            <div class="col"> 
             <label for="property">SubProperty</label>
             <select name="subproperty" id="subproperty">
                 <option *ngFor="let item of list" [value]="item">{{item}}</option>
             </select>
            </div>
        </div>
           <div class="row">
            <div class="col">
                <label for="qty">Quantity</label>
                <input type="text" name="qty" id="qty">
            </div>
           </div>
           <div class="row">
            <div class="col">
                <label for="amount">Amount</label>
                <input type="text" name="amount" id="amount">
            </div>
            <div class="col">
                <label for="amount_cleared">AmountPaid</label>
                <input type="text" name="amount_cleared" id="amount_cleared">
            </div>
           </div>
           <div class="row">
            <div class="col">
              <button class="d-inline" [mat-dialog-close] = "data" (click)="auth()">Login</button>
            </div>
            <div class="col">
              <button class="d-inline" [mat-dialog-close] = "data">Cancel</button>
            </div>
          </div>
       </div>
      </form>
      
    </mat-dialog-content>
  </div>