<div class="card">
    <mat-dialog-content>
      <form #stockdata="ngForm" validate>
       <div class="continer-fluid">
           <div class="row">
            <div class="col">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" ngModel>
            </div>
           </div>
           <div class="row">
            <div class="col">
                <label for="phno">Phoneno</label>
                <input type= "number" name="phno" id="phno" ngModel>
            </div>
           </div>
           <div class="row">
            <div class="col"> 
                <label for="property">Property</label>
                <select name="property" id="property"  (change)="assignsubproperties($event.target.value)">
                    <option *ngFor="let item of properties">{{item}}</option>
                </select>
            </div>
           </div>
           <div class="row">
            <div class="col"> 
                <!-- her we have id so changed name  -->
                <label for="settingsid">SubProperty</label>
                <select name="settingsid" id="settingsid" ngModel>
                    <option *ngFor="let item of subproperties"  [value]="item.id">{{item.name}}</option>
                </select>
               </div>
           </div>
           <div class="row">
            <div class="col">
                <label for="qty">Quantity</label>
                <input type="number" name="qty" id="qty" required ngModel>
            </div>
           </div>
           <div class="row">
               <div class="col">
                   <label for="initialdate">Date</label>
                   <input type="date" name="initialdate" id="initialdate" required ngModel>
               </div>
           </div>
           <div class="row">
            <div class="col">
                <label for="amount">Amount</label>
                <input type="number" name="amount" id="amount" ngModel>
            </div>
           </div>
           <div class="row">
            <div class="col">
                <label for="amountcleared">AmountPaid</label>
                <input type="number" name="amountcleared" id="amountcleared" required ngModel>
            </div>
           </div>
           <div class="row">
            <div class="col dailogbutton">
              <button class="d-inline"  [mat-dialog-close] = "stockdata.value">Submit</button>
            </div>
            <div class="col dailogbutton">
              <button class="d-inline" [mat-dialog-close] = "">Cancel</button>
            </div>
          </div>
       </div>
      </form>
    </mat-dialog-content>
  </div>