<mat-drawer-container class="example-container" autosize>
    <mat-drawer [opened] = "sidenavtoggle || islargescreen" class="example-sidenav" mode="side">
      <div class="container-fluid">
        <div class="row">
          <div class="col image-space">
            <img class="image-circle" src="../../../assets/images/sanju-profile-pic.jpg" alt="">
          </div>
        </div>
        <div class="row mt-5">
          <div class="col">
            <div *ngFor = "let item of menuitems">
              <div class="sidenav-content-menu">
                <div class="sidenav-content-menu-icon">
                </div>
                <div class="sidenav-content-menu-name">
                  {{item.name}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <div class="container-fluid">
        <div class="row top-nav" >
          <div class="col-sm-6 nav-col-name">
              Business CLear
          </div>
          <div class="col-sm-6 nav-col-button">
            <button *ngIf = "!islargescreen" class="nav-menu-button" (click)="sidenavtogglemethod()">
              <i class="fa fa-bars fa-2x"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
</mat-drawer-container>