<div class="container-fluid p-5">
    <div class="row">
        <div class="col">
          <input type="text" disabled placeholder="gold">
        </div>
        <div class="col">
           <div class="container">
            <div class="row">
                <div class="col">
                 <input type="text" disabled placeholder="gold">
                </div>
             </div>
             <div class="row">
                <div class="col">
                 <input type="text" disabled placeholder="gold">
                </div>
             </div>
           </div>
        </div>
    </div>
</div>