.table,td,th,tr{
    border: 1px solid black;
}
.chartshowing{
    overflow: auto;
    border-radius: 10px;
    flex-direction: row;
}
.icons {
    display: flex;
}
.iconscol{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content:flex-end
}
.individual {
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
.glowing-border {
    border: 2px solid #dadada;
    border-radius: 7px;
}
.glowing-border:hover { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
.visibilityshow {
    visibility: visible;
}
.visibilityhide {
    visibility: hidden;
}
.datepicker{
    display: flex;
    flex-direction: row;
    
}
datepickerchild {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.inputtextnumberstyle {
    width: 50px;
}
.applybutton{
    width: 100px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    background-color: skyblue;
    color: white;
}
.applybutton:hover{
    background-color: rgb(65, 191, 241);
}