<div class="container-fluid">
    <div class="row">
       <div class="col">
        <app-filter [filterlist] = "propertfilter" titleheader = 'Property' (selecteddata) = "propertiesfiltered($event)"></app-filter>
       </div>
       <div class="col">
        <app-filter [filterlist] = "afterfiltered" titleheader = 'SubProperty' (selecteddata) = "subpropertiesfiltered($event)"></app-filter>
       </div>
       <div class="col">
        <app-filter [filterlist] = "stocksandsales" titleheader = 'Stocks & Sales' (selecteddata) = "stocksandsaleschange($event)"></app-filter>
       </div>
    </div>
    <div class="row icons">
        <div class="col iconscol">
            <div class="glowing-border">
                <!-- Default switch -->
                <button style="border: none;" (click)="changegraph()">
                    <img src="../../../assets/images/stock1.png" width="50" height="40">
                </button>
            </div>
            <div>
                <span>&nbsp;</span>IN Qty <span>&nbsp;</span>
            </div>
            <div>
                <mat-slide-toggle [(ngModel)]="isChecked" (change)="testclick()" >IN    Amount</mat-slide-toggle>
            </div>
        </div>
    </div>
    <div class="row card m-1 chartshowing" *ngIf="graphselected">
        <app-line-chart [bottomaxis] = "columnnames" [Data] = "afterrowdatafiltered" [Stocks] ="stocksandsales[0].isSelected"
        [Sales] = "stocksandsales[1].isSelected" [chartocuppancy]="chartsizes"></app-line-chart>
    </div>
    <div class="row card m-1 chartshowing" *ngIf="!graphselected">
        <div class="col-sm-6" *ngIf="stocksandsales[0].isSelected">
            <app-piechart [Data] = "afterrowdatafiltered"  [chartocuppancy]="chartsizesreduce"  [testclass]= "'stocks'"></app-piechart>
        </div>
        <div class="col-sm-6" *ngIf="stocksandsales[1].isSelected">
            <app-piechart [Data] = "afterrowdatafiltered"  [chartocuppancy]="chartsizesreduce"  [testclass]= "'sales'"></app-piechart>
        </div>
       
    </div>
    <div class="row" style="height: 80vh;">
        <ag-grid-angular
        style="width: 100%; height: 100%; border-radius:10px;"
        class="ag-theme-alpine"
        [rowData]="afterrowdatafiltered"
        [columnDefs]="columnDefs"
        [gridOptions] = "gridOptions"
        [rowHeight]=30
        [suppressRowTransform]=true
        domLayout='autoHeight' 
        (gridReady)="onGridReady($event)"
        >
        </ag-grid-angular>
    </div>
</div>