<div class="container-fluid">
    <div class="row">
        <app-line-chart [bottomaxis] = "columnnames" [Data] = "rowData"></app-line-chart>
    </div>
    <div class="row" style="height: 80vh;">
        <ag-grid-angular
        style="width: 100%; height: 100%;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [gridOptions] = "gridOptions"
        [rowHeight]=30
        [suppressRowTransform]=true
        >
        </ag-grid-angular>
    </div>
</div>