<div class="container-fluid">
    <div class="row">
        <div class="col">  
            <label>Date :</label>
            <input type="date" [(ngModel)]="date" style="margin-left: 30px;" (change) = "changedata()"></div>
        <div class="col">
            <button type="button" class="btn btn-secondary" (click) = "addexpense()">Add Expense</button>
            <button type="button" class="btn btn-primary" (click) = "addstocks()">Add Stock/sales</button>
            <button type="button" class="btn btn-primary" (click) = "addfinance()">Add Finance</button>
            <button type="button" class="btn btn-primary" (click) = "addeaccounts()">Add Accounts</button>

        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <table style="width: 100%;" >
                <tr class ="headerrow" >
                    <td>Discription</td>
                    <td>type</td>
                    <td>deposit</td>
                    <td>withdraw</td>
                </tr>
                <tr *ngFor="let item of data">
                    <td><input type="text" [(ngModel)]="item.discription" style="width: 100%;">  </td>
                    <td><input type="text" [(ngModel)]="item.type" style="width: 100%;">         </td>
                    <td><input type="number" [(ngModel)]="item.deposit" style="width: 100%;">  </td>
                    <td><input type="number" [(ngModel)]="item.withdraw" style="width: 100%;"> </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col custombutton">
            <button type="submit" (click) = "submitdata()">Submit</button>
        </div>
    </div>
</div>