.col {
    display: flex;
    flex-direction: row;
    margin: 5px;
    font-size: 12px;
    font-weight: 500;
  }
  .row {
    margin: 5px;
  }
  label,select {
     min-width: 100PX;
  }
  input,select,option{
    border-color:black ;
  }
  .dailogbutton {
    display: flex;
    justify-content: center;
  }